/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-ene-2016, 11:16:41
    Author     : eliana
*/
body {
    background-color:black;
}
div#index {
    margin-left: 33%;
    background-color: grey;
    width: 40%;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

div#form {
    background-color: grey;
    width: 10%;
    color: white;
    font-weight: bold; 
    font-size: 28px;
    text-align: center; 
    margin: auto;
    
}
form {
    text-align: center;
}
table, tr, td {
    border: white 1px solid;
    margin: auto;
}

