/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-ene-2016, 21:26:48
    Author     : eliana
*/
div {
    margin-left: 33%;
    margin-top: 4%;
}

